.Modal {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -43%);
    color: #fff;
    padding: 10px 30px;
    z-index: 1001;
    box-shadow: 4px 0px 300px rgba(0, 0, 0, 0.7),
        -4px 0px 300px rgba(0, 0, 0, 0.7),
        0px 4px 300px rgba(0, 0, 0, 0.7),
        0px -4px 300px rgba(0, 0, 0, 0.7);
}

.modalContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.803);
}

.card-title {
    font-size: 200%;
    padding-top: 130px;
}

.infoCard {
    display: flex;
    justify-content: space-between;
}

.overview {
    width: 50%;
}

.Modal h3 {
    border-bottom: 1px solid #fff;
}

.overview p {
    padding: 10px;
}

.releaseDate,
.voteAverage {
    padding-top: 10px;
}

.closeBtn {
    position: fixed;
    top: 0%;
    right: 0%;
    padding: 5px;
    margin: 10px;
    color: rgba(255, 255, 255, 0.351);
    transition: all 0.5s;
    cursor: pointer;
}

.closeBtn:hover {
    color: white;
    transform: scale(1.05);
}
